/* 구글 폰트 가져오는 코드 */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

/* *(전체 선택자)는 모든 형태의 모든 요소를 선택합니다. */
* {
  /* 내부여백과 외부 여백을 0으로 설정 */
  margin: 0;
  padding: 0;
  /* border box는 width 와 height 속성이 안쪽 여백과 테두리는 포함하고, 바깥 여백은 포함하지 않게 한다. */
  box-sizing: border-box;
  /* font-family는 폰트를 적용시킴, Black Han Sans가 없을 경우 sans-serif 적용 */
  font-family: "Black Han Sans", sans-serif;
}

/* body 태그에 대해 배경 색을 흰색으로 적용 */
body {
  background: #fff;
}

/* header태그에 대해 배경색을 gray로 적용 */
header {
  background: gray;
}

.title {
  color: black;
  text-align: center;
  font-size: 4rem;
}

aside {
  font-size: 1rem;
  background: #2b2b2b;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}

main {
  display: flex;
  color: #fff;
  list-style-type: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: gray;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

@keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 500px;
  }
}

canvas {
  background-image: url("../img/background.png");
  animation: backgroundMove 2s infinite linear;
  background-size: auto 100%;
  display: block;
  margin: 0 auto;
}

.playModal {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background-color: aliceblue;
  padding: 2rem;
  border-radius: 1rem;
  width: 700px;
  height: 300px;
}

.playRule {
  width: 100%;
}

.playButton {
  width: 100%;
}

.playModal button {
  font-size: 1rem;
  border-radius: 1rem;
  background: #72a259;
  color: #fff;
  padding: 1rem;
}

.active {
  visibility: hidden;
}
